
/* ===== Base ===== */

h2 {
  padding: 1em;
  background-color: #EEE;
  margin-top: 2em;
}

/* ===== Helpers ===== */

.titlecase {
  text-transform: capitalize;
}

/* ===== Layout ===== */

.app-container {
  max-width: 60em;
  margin: 0 auto;
}

.errors-container h2 {
  background-color: red;
  color: #FFF;
}
